/*
#8FBDD3
#E4D1B9
#BE8C63
#A97155
#AC4425
*/

.bdl{
    border: none;
    border-top: dashed;
    border-color: #8FBDD3;
    width: 50%;
}
.major{
    color: navy;;
}
.cProgramming {
    max-width: 46px;
}
.mySql {
    max-width: 90px;
    border-radius: 15%;
}
.vhdl {
    max-width: 115px;
    margin-bottom: 5px;
    border-radius: 15%;
}
.asm {
    max-width: 70px;
    margin-bottom: 0px;
}
.js {
    max-width: 40px;
}
.linkedin{
    min-width: 40px;
    position: fixed;
    bottom: 1%;
    right: 1%;

}
@media only screen 
    and (min-device-width:320px)
    and (max-device-width:480px){
        .linkedin{
            min-width: 100px;
            position: fixed;
            bottom: 1%;
            right: 1%;
        }
    }

.profile {
    background-color: #E4D1B9;
}

.contact-me{
    background-color: #A97155;
}

.row {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 5%;
}
