/*
#8FBDD3
#E4D1B9
#BE8C63
#A97155
#AC4425
*/

.bdl{
    border: none;
    border-top: dashed;
    border-color: #8FBDD3;
    width: 100%;
}
.major{
    color: navy;;
}
.cuda {
    max-width: 65px;
}
.mySql {
    max-width: 55px;
}

.js {
    max-width: 40px;
}

.profile {
    background-color: #E4D1B9;
}

.row {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 5%;
}

.icon{
    width: 35px;
}

@media only screen 
    and (min-device-width:320px)
    and (max-device-width:480px){
        .icon{
            min-width: 100px;
        }
    }

/* NavBar */
.container-fluid{
    padding: 0em;
}
