#pfp {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    margin-top: 50px;
    margin-bottom: 15px;
}

#cloudsL{
    position: absolute;
    left: 15%;
    bottom: 50%;
    max-width: fit-content;
}

#cloudsR{
    position: absolute;
    left: 60%;
    top: 10%;
    max-width: fit-content;
}

#cloudsR2{
    position: absolute;
    right: 10%;
    top: 50%;
    max-width: fit-content;
}

#ibm{
    max-width: 125px;
    padding-bottom: .75em;
}

#ms{
    max-width: 300px;
    padding-bottom: .75em;
}

#top-container {
    position: relative;
    background-color: #8FBDD3;
    padding: 1rem;
}

#sec-container{
    background-color: #E4D1B9;
    padding: 1rem;
}

#third-container {
    background-color: #BE8C63;
    padding: 1rem;
}

#fourth-container {
    background-color: #A97155;
    padding: 1rem;
    color: white;
}

#bottom-container {
    background-color: #AC4425;
    padding: 1rem;
    color: white;
}

#footer{
    padding: 1.5em;
    background-color: #8FBDD3;
}

#contact{
    position: fixed;
    padding-right: 1em;
    padding-bottom: 1em;
    right:.5em;
    bottom:.5em;
}
